
*~
libobasis4.4-sdk-4.4.1.2-2.x86_64.rpm
libobasis4.4-sdk_4.4.1.2-3_amd64.deb
qhichwa/build/
qhichwa/jar/
qhichwa/qhichwa-0.3-beta.2.oxt
qhichwa_extended/build/
qhichwa_extended/jar/
qhichwa_extended/qhichwa_extended-0.3-beta.3.oxt
qhiswa/build/
qhiswa/jar/
qhiswa/qusqu_qhiswa-0.3-beta.2.oxt
/shipibokonibo/nbproject/private/